@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;600;700&family=League+Spartan:wght@100;300;700;800&family=Lobster&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:wght@200;500;600;700;800&display=swap");

* {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	scroll-behavior: smooth;
}

:root {
	--main-color: #3a6cf4;
	--main-transition: 0.3s ease;
}

header {
	width: 100%;
	background-color: #ececec;
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 200px;
}

@media (max-width: 492px) {
	body {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
	header {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		align-items: center;
	}

}

header .logo {
	text-decoration: none;
	font-size: 1.8em;
	font-weight: 700;
	color: var(--main-color);
	text-transform: uppercase;
}

header .navigation a {
	color: var(--main-color);
	text-decoration: none;
	padding-left: 30px;
	font-size: 1.1em;
	font-weight: 300;
}

@media (max-width: 490px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
}

.navigation a:hover {
	color: #601cfc;
}

section {
	padding: 100px 200px;
}

.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(images/call-to-action-bg-2.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}



.main div {
	color: white;
}

.main h2 {
	margin: 10px 0;
	font-weight: 400;
}
.main h2 span {
	display: inline-block;
	margin-top: 10px;
	font-size: 48px;
	font-weight: 600;
	color: var(--main-color);
}

.main h3 {
	font-weight: 300;
	color: #eee;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.main .main-btn {
	color: white;
	text-decoration: none;
	display: block;
	padding: 10px 35px;
	width: fit-content;
	margin: 10px 0;
	background-color: #601cfc;
	border-radius: 5px;
	font-weight: 400;
	transition: var(--main-transition);
}

@media (max-width: 490px) {
	.main {
		text-align: center;
		width: 80%;
		margin: auto;
	}	
}

.main .main-btn:hover {
	background-color: #804ff3;
	transform: scale(1.1);
}

.main .social-icons i {
	color: white;
	padding-right: 30px;
	margin-top: 10px;
	font-size: 22px;
	transition: var(--main-transition);
}

.main .social-icons i:hover {
	color: #601cfc;
}

/* start section cards */
.title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	color: var(--main-color);
	margin-bottom: 20px;
}

.cards .content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

@media (max-width: 490px) {
	.card .content .card {
		display: flex;
		flex-direction: column;
	}
}

.cards .card {
	background-color: #fff;
	width: 21.25em;
	box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
	margin: 10px;
	padding: 25px;
	transition: 0.7s ease;
}

.card:hover {
	transform: scale(1.1);
}

.cards .content .icon {
	font-size: 8em;
	text-align: center;
	color: var(--main-color);
}

.info {
	text-align: center;
}

.cards .content h3 {
	font-size: 1.2em;
	font-weight: 700;
	color: var(--main-color);
	margin-bottom: 10px;
}

/* end section cards */

/* start project section */
.projects {
	background-color: #000016;
}
.projects .content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}

.project-card {
	background-color: #fff;
	border: 1px solid #fff;
	width: 23em;
	min-height: 14em;
	overflow: hidden;
	border-radius: 10px;
	margin: 20px;
	transition: 0.7s ease;
}

.project-card:hover {
	transform: scale(1.1);
}

.project-image img {
	width: 100%;
}

.project-card:hover .project-image {
	opacity: 0.9;
}

.project-info {
	padding: 16px;
}

.project-title {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 10px;
}

.project-category {
	font-size: 0.8em;
	color: #000;
}

.more-details {
	text-decoration: none;
	color: var(--main-color);
}

.more-details:hover {
	color: #601cfc;
}
/* end project section */

/* start contact section */
.contact .icon i {
	font-size: .8em;
}

.contact .info h3 {
	color: #000;
}

.contact .info p {
	font-size: 18px;
}

.contact .card {
	text-align: center;
}
/* end contact section */

/* start foooter */
footer {
	height: 80px;
	background-color: #000016;
	color: white;
}

footer .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 30px 0 30px;
}

footer .content p {
	font-weight: bold;
}

footer .content p span {
	color: #601cfc;
}

footer .icons i {
	margin-right: 15px;
	color: white;
	font-size: 20px;
	transition: .4s;
}

footer .icons i:hover {
	color: #601cfc;
}
/* end footer */


